<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
	<!-- load the properties file: sport.properties -->
	<context:property-placeholder location="classpath:db.properties"/>
	<!-- /ODOT-Software/src/main/java/edu/okstate/executables/db.properties -->
	<!-- Define your beans here -->
	<bean id="myDatabseDetails"
    		class="edu.okstate.executables.DatabaseDetails">
		<!-- inject literal values -->
		<property name="url" value="${db.url}" />
		<property name="username" value="${db.username}" />
		<property name="password" value="${db.password}" />
		<property name="port" value="${db.port}" />
		<property name="name" value="${db.name}" />
	</bean>
</beans>





